@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

html, body {
  width: 100%;
  height: 100%;
  background-color: #0C0E10;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

body {
  font-family: "lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.778;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
}

/* Navbar */
.navbar {
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 32px 27px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 0px 32px 27px rgba(0,0,0,0.14);
  box-shadow: 0px 0px 32px 27px rgba(0,0,0,0.14);
}

.navbar .brand {
  color: #7F7F7F;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  pointer-events: none;
}

.navbar .nav-links {
  display: flex;
  gap: 10px;
}

.navbar .nav-links a {
  color: #7F7F7F;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
}

.navbar .nav-links a:hover {
  color: #686868;
  background-color: rgba(43, 43, 43, 0.2);
  border-radius: 4px;
}

/* Main content area */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px); /* Ensure it stretches to full height minus navbar height */
}

/* Section container */
.section-container {
  display: flex;
  width: 100%;
}

.image-container {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aurora-title {
  font-size: 32px;
  margin-bottom: 16px;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  height: 1em;
  padding-right: .5em;
  color: transparent;
  background: linear-gradient(90deg, #ff3700, #ffa033, #fff240, #c58000);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: -50px;
}

.aurora-title:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: #444;
  animation: text-reveal-aft 1000ms forwards;
}

p.gray-text {
  color: #686868;
}

.cta {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Neon Button */
.neon-button {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 15px 15px;
  overflow: hidden;
  color: #c0c0c0;
  background: linear-gradient(90deg, #8a1e00, #935105, #663003, #c53b00);
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: none;
}

.neon-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, #0c0e10, #f83600, #ff6617, #0c0e10);
  transition: 0.5s;
}

.neon-button span {
  position: absolute;
}

.neon-button span:nth-child(1) {
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #8a1e00, #935105, #663003, #c53b00);
}

.neon-button span:nth-child(2) {
  bottom: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(0deg, #8a1e00, #935105, #663003, #c53b00);
}

.neon-button span:nth-child(3) {
  top: 0;
  right: -100%;
  width: 100%;
  height: 1px;
  background: linear-gradient(-90deg, #8a1e00, #935105, #663003, #c53b00);
}

.neon-button span:nth-child(4) {
  top: -100%;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #8a1e00, #935105, #663003, #c53b00);
}

.neon-button:hover {
  color: #ffffff;
  background: none;
}

.neon-button:hover::before {
  display: none;
}

.neon-button:hover span:nth-child(1) {
  animation: leftLine .5s linear 0s;
}

.neon-button:hover span:nth-child(2) {
  animation: bottomLine .5s linear .25s;
}

.neon-button:hover span:nth-child(3) {
  animation: rightLine .5s linear 0s;
}

.neon-button:hover span:nth-child(4) {
  animation: topLine .5s linear .25s;
}

@keyframes topLine {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes bottomLine {
  0% {
    bottom: -100%;
  }
   100% {
    bottom: 100%;
  }
}

@keyframes rightLine {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

@keyframes leftLine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* Aurora effect */
.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0%;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header-bg {
  background-color: rgba(46, 46, 46, 0.7);
  padding: 20px 0;
}

.header-bg .content {
  margin: 0 auto;
  max-width: 640px;
  padding: 5px;
  border-radius: 8px;
  margin: 0 10%;
}

/* Page transition animation */
.fade-out {
  animation: fadeOut 0.2s ease-in forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Lower z-index so it stays in the background */
  overflow: hidden;
}

.background-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 100px;
  position: relative;
  flex: 1; /* Ensure it stretches to fill the main-content */
}

.transparent-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  z-index: 0;
}

.fixed-width {
  width: 100% !important;
  max-width: 1200px;
  min-width: 1200px;
  margin: auto;
  table-layout: fixed;
}

table {
  position: relative;
  z-index: 1;
  background: #0C0E10FA;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: table; /* Ensure the table always displays */
  width: 100%;
  min-width: 100%;
  empty-cells: show; /* Ensure empty cells are displayed to maintain table structure */
}

.buttons-pdf, .dataTables_paginate .paginate_button {
  color: #c0c0c0 !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.buttons-pdf:hover, .dataTables_paginate .paginate_button:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.icon-links {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  top: 3px;
}

.icon-links img {
  width: 24px;
  height: auto;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(65%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(86%);
  transition: filter 0.3s;
}

.icon-email {
  width: 36px;
}

.icon-links img::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, #0c0e10, #f83600, #ff6617, #0c0e10);
  transition: 0.5s;
}

.icon-links img:hover::before {
  display: none;
}

.icon-links img:hover span:nth-child(1) {
  animation: leftLine .5s linear 0s;
}

.icon-links img:hover span:nth-child(2) {
  animation: bottomLine .5s linear .25s;
}

.icon-links img:hover span:nth-child(3) {
  animation: rightLine .5s linear 0s;
}

.icon-links img:hover span:nth-child(4) {
  animation: topLine .5s linear .25s;
}

.icon-links img:hover {
  filter: brightness(0) saturate(100%) invert(42%) sepia(90%) saturate(431%) hue-rotate(360deg) brightness(96%) contrast(106%);
}

#about .text-container {
  margin-top: 100px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: #0C0E10;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-height: 80%;
  overflow-y: auto;
  color: #e0e0e0;
  position: relative;
}

.overlay-content h2 {
  margin-top: 0;
}

/* Add this style for the aurora title effect in the overlay */
.overlay-content .aurora-title {
  font-size: 32px;
  margin-bottom: 16px;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  height: 1em;
  padding-right: .5em;
  color: transparent;
  background: linear-gradient(90deg, #ff3700, #ffa033, #fff240, #c58000);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: -50px;
}

.overlay-content .aurora-title:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: #444;
  animation: text-reveal-aft 1000ms forwards;
}

.overlay-content .aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.overlay-content .aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.overlay-content .aurora__item:nth-of-type(1) { animation: aurora-border 6s ease-in-out infinite, aurora-1 12s ease-in-out infinite alternate; }
.overlay-content .aurora__item:nth-of-type(2) { background-color: var(--clr-3); right: 0; top: 0; animation: aurora-border 6s ease-in-out infinite, aurora-2 12s ease-in-out infinite alternate; }
.overlay-content .aurora__item:nth-of-type(3) { background-color: var(--clr-2); left: 0; bottom: 0; animation: aurora-border 6s ease-in-out infinite, aurora-3 8s ease-in-out infinite alternate; }
.overlay-content .aurora__item:nth-of-type(4) { background-color: var(--clr-4); right: 0; bottom: -50%; animation: aurora-border 6s ease-in-out infinite, aurora-4 24s ease-in-out infinite alternate; }

/* Style for the data fields in the overlay */
.overlay-content p strong {
    color: #ffffff; /* white for the label */
}

.overlay-content p {
    color: #ffa500; /* orange for the data */
    margin: 10px 0;
}

/* Distinct styles for odd/even lines in the table */
table.dataTable tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.02);
}

table.dataTable tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.04);
}

table.dataTable tbody td {
  padding: 8px 10px;
  min-width: 142px;
  border-bottom: 1px solid #000000de;
  color: #7F7F7F; /* Set text color */
  font-size: 16px; /* Set font size for the table body cells */
}

table.dataTable tbody tr:last-child td {
  border-bottom: none;
}

/* Style the brief icon/button */
.brief-icon {
  position: relative;
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.03);
  cursor: pointer;
  color: #ffffff; 
  font-weight: bold;
  font-size: 24px; 
  margin: 0 auto;
}


.brief-icon:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #ff9500;
}
/* General override to ensure no default background color changes */
table.dataTable thead th.sorting,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc,
table.dataTable thead th.sorting_asc_disabled,
table.dataTable thead th.sorting_desc_disabled {
    background-color: transparent !important;
    text-align: center !important;
    padding-right: 62px;
}

/* Ensure sorted column in tbody does not change color */
table.dataTable tbody td.sorting_1,
table.dataTable tbody td.sorting_2,
table.dataTable tbody td.sorting_3 {
    background-color: transparent !important;
}

/* Ensure table rows are highlighted visibly when hovered over */
table.dataTable tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the opacity and color to make it more visible */
    color: #ffffff; /* Ensure the text color remains readable */
}

/* Further tweaking the colors for better visibility */
table.dataTable tbody tr:nth-child(odd):hover {
  background-color: #1E1F2E
}

table.dataTable tbody tr:nth-child(even):hover {
  background-color: #1E1F2E
}


/* styles for the Brief overlay section */
.overlay-content .brief-title {
  font-size: 20px;
  margin-bottom: 16px;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  padding-right: .5em;
  color: transparent;
  background: linear-gradient(90deg, #ffffff, hsl(0, 0%, 100%)); /* might change to actual gradient later */
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  text-align: center; /* Center align the text */
  text-decoration: underline; 
  white-space: nowrap; /* Prevent text from wrapping */
}

.overlay-content .brief-title:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: #444;
  animation: text-reveal-aft 1000ms forwards;
}

.overlay-content .brief-aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.overlay-content .brief-aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.overlay-content .brief-aurora__item:nth-of-type(1) { animation: aurora-border 6s ease-in-out infinite, aurora-1 12s ease-in-out infinite alternate; }
.overlay-content .brief-aurora__item:nth-of-type(2) { background-color: var(--clr-3); right: 0; top: 0; animation: aurora-border 6s ease-in-out infinite, aurora-2 12s ease-in-out infinite alternate; }
.overlay-content .brief-aurora__item:nth-of-type(3) { background-color: var(--clr-2); left: 0; bottom: 0; animation: aurora-border 6s ease-in-out infinite, aurora-3 8s ease-in-out infinite alternate; }
.overlay-content .brief-aurora__item:nth-of-type(4) { background-color: var(--clr-4); right: 0; bottom: -50%; animation: aurora-border 6s ease-in-out infinite, aurora-4 24s ease-in-out infinite alternate; }

/* Style for the data fields in the overlay */
.overlay-content p strong {
    color: #ffffff; /* white for the label */
}

.overlay-content p {
    color: #ffa500; /* orange for the data */
    margin: 10px 0;
}

/* Adjust the brief title style to handle overflow */
.overlay-content .brief-title {
  font-size: 20px;
  margin-bottom: 16px;
  position: relative;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  padding-right: .5em;
  color: transparent;
  background: linear-gradient(90deg, #ffffff, hsl(0, 0%, 100%)); /* Gradient for title */
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  text-align: center;
  line-height: 1.2; 
}

/* Ensure the filter container and its content are visible */
.filter-container {
  overflow: visible;
  position: relative;
  z-index: 10; 
  margin-bottom: 20px; 
  display: flex;
  align-items: center;
}

/* Ensure the labels are visible */
.filter-container label {
  color: #e0e0e0; 
  font-size: 16px;
  font-style: bold;
  margin-right: -5px;
  z-index: 10;
  position: relative;
}

/* Ensure the dropdown is also visible */
.filter-container select {
  z-index: 10; 
  position: relative;
  background-color: #0C0E10; 
  color: #e0e0e0; 
  border: 1px solid #7F7F7F;
  border-radius: 4px;
  padding: 5px;
}

/* Adjust the z-index of the table wrapper if necessary */
.table-wrapper {
  z-index: 5;
  position: relative;
}

/* Adjust the main-content z-index and positioning */
.main-content {
  position: relative;
  z-index: 1; 
}

.slider-container label {
  color: #e0e0e0; 
  font-size: 16px;
  margin-right: 10px;
  z-index: 10;
  position: relative;
}

.slider-values {
  color: #e0e0e0; 
  font-size: 16px;
  margin-right: 10px;
  z-index: 10;
  position: relative;
}

/* New wrapper for search and button */
.search-filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin-bottom: 20px;
}

/* Ensure the search bar is at the top right */
.dataTables_filter {
    order: -1; 
    align-self: flex-end;
    margin-bottom: 10px;
}

.dataTables_filter input {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #7F7F7F;
    border-radius: 4px;
    background-color: #0C0E10;
    color: #e0e0e0;
}

.advanced-filter-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.slider-container {
  margin: 20px 0;
}

#year-range-slider {
margin: 10px;
max-width: 740px;
margin-left: 12px;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.slider-values span {
  font-weight: bold;
  color: #e0e0e0;
}

.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1001;
  display: none;
  justify-content: center;
  align-items: center;
}


.filter-overlay-content {
  backdrop-filter: blur(16px); /* Apply blur effect to the overlay content */
  -webkit-backdrop-filter: blur(16px); /* Support for older versions of Safari */
  padding: 20px;
  border-radius: 8px;
  width: 44%;
  max-height: 80%;
  overflow-y: auto;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 120px;
  background-color: #16181ACF;
}
.filter-overlay h2 {
  margin-top: 0;
}

.filter-overlay .filter-container {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.filter-overlay .slider-container {
  width: 100%;
  margin: 20px 0;
}

.filter-overlay .slider-values {
  justify-content: space-between;
  width: 100%;
}

.apply-filters-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color:#e0e0e0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-filters-button:hover {
  background-color: #e0e0e0;
  background-color: #e0e0e0;
}

/* Styles for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1002;
  transition: color 0.3s;
}

.close-button:hover {
  color: #ff0000; /* Change color on hover to make it more noticeable */
}

.search-filter-container {
  position: relative; /* Ensure this container is the relative reference point */
  width: 100%; /* This should cover the full width */
  height: auto; /* Adjust height as needed */
}
/* Place the button to the right at 80% of the width, ensuring it scales with the window size */
.advanced-filter-button {
  position: absolute;
  left: 80%; /* 80% of the container's width */
  top: 150px; /* Static vertical position */
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, left 0.3s ease;
  white-space: nowrap;
  z-index: 20;
}

.advanced-filter-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1000;
}


.checkbox-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 3px; /* Space between items */
  margin-top: 0px; /* Space between label and checkboxes */
}

/* Style each checkbox and label pair */
.checkbox-container div {
  display: flex;
  align-items: center;
  margin-right: 5px; /* Space between checkboxes and labels */
}


/* Ensure labels remain aligned */
.checkbox-container div {
  display: inline-block;
  margin-bottom: 10px;
}

.noUi-horizontal .noUi-handle {
  width: 16px !important;
  height: 16px !important;
  right: -7px !important;
  top: -4px !important;
}

.noUi-horizontal {
  height: 10px!important;
}

.noUi-handle::after, .noUi-handle::before {
  content: ""!important;
  display: block!important;
  position: absolute!important;
  height: 5px!important;
  width: 1px!important;
  background: #E8E7E6!important;
  left: 14px!important;
  top: 6px!important;
}
/* Common button styles */
.toggle-button, .apply-filters-button {
  padding: 8px 16px;
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 4px !important;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  text-align: center;
  text-decoration: none; /* Ensure no text decoration */
  display: inline-block; /* Ensure it behaves like a button */
}
.toggle-button{
  padding: 3px !important;
}
/* Hover effects for the buttons */
.toggle-button:hover, .apply-filters-button:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border-color: white !important; /* Ensure border stays white */
}

/* Ensuring no default blue color */
.toggle-button:focus, .apply-filters-button:focus, 
.toggle-button:active, .apply-filters-button:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  color: white !important;
  border-color: white !important;
}

.noUi-handle {
  border-radius: 43px!important;
}
.noUi-handle::after, .noUi-handle::before {
  content: "" !important;
  height: 0px !important;
}
.noUi-target {
  border: 1px solid #000!important;
  background: #5e5e5e!important;
  box-shadow: inset 0 0px 0px #F0F0F0!important;
}

.noUi-connect {
  background: #ffffff !important;
}


.attacker-type-container {
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  width: 100%;
  padding: 5px 0; /* Adjust as needed for spacing */
}

.attacker-type-container .checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1; /* Ensure checkboxes take up available space */
  margin-right: 20px; /* Adjust this value to move the button left */
}

.attacker-type-container .toggle-button {
  padding: 5px 10px;
  flex-shrink: 0; /* Prevent the button from shrinking */
  white-space: nowrap; /* Prevent the button text from wrapping */
  margin-left: 0; /* Optionally adjust this to fine-tune the position */
}
/* Base styles for all checkboxes - now invisible */
input[type="checkbox"] {
  appearance: none;
  width: 0;
  height: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  outline: none;
}

/* Styles for labels that will show underline when checkbox is checked */
.checkbox-container label {
  position: relative;
  font-size: 14px;
  color: #e0e0e0;
  cursor: pointer;
  margin-right: 4px;
  padding-bottom: 0px;
  display: inline-block;
  
}


/* This applies the underline to all checkboxes except the one with id "unknown-year" */
input[type="checkbox"]:checked:not(#unknown-year) + label::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #ffffff; /* Underline color */
}

/* Align both deselect buttons to the right */
.attacker-type-container, .targeted-infrastructure-container {
  display: flex;
  justify-content: space-between; /* Space between checkboxes and button */
  align-items: center;
}

.attacker-type-container .toggle-button,
.targeted-infrastructure-container .toggle-button {
  margin-left: auto; /* Align buttons to the right */
}
.unknown-year-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Style the label to align properly with the checkbox */
.unknown-year-container label {
  margin-left: 8px;
  color: #e0e0e0;
  font-size: 14px;
  text-decoration: none !important; /* Ensure no underline */
  cursor: pointer; /* Ensure the label is clickable */
}

        .attacker-type-container,
        .targeted-infrastructure-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .attacker-type-container .toggle-button,
        .targeted-infrastructure-container .toggle-button {
            margin-left: auto;
        }

        /* Checkbox underline logic */
        input[type="checkbox"] {
            appearance: none;
            width: 0;
            height: 0;
            background-color: transparent;
            border: none;
            position: absolute;
            cursor: pointer;
            outline: none;
        }

        .checkbox-container label {
            position: relative;
            font-size: 14px;
            color: #e0e0e0;
            cursor: pointer;
            margin-right: 4px;
            padding-bottom: 1px;
            display: inline-block;
        }


        .checkbox-container div {
            display: inline-block;
            margin-bottom: 10px;
        }
      /* Styles for the toggle buttons */
      .toggle-button {
          margin: 10px 0;
          padding: 10px;
          background-color: #e0e0e0;
          color: white;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          text-align: center;
      }

      .toggle-button:hover {
          background-color: #e0e0e0;
      }

      .attacker-type-container,
      .targeted-infrastructure-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      .attacker-type-container .toggle-button,
      .targeted-infrastructure-container .toggle-button {
          margin-left: auto;
      }

      /* Checkbox underline logic */
      input[type="checkbox"] {
          appearance: none;
          width: 0;
          height: 0;
          background-color: transparent;
          border: none;
          position: absolute;
          cursor: pointer;
          outline: none;
      }

      .checkbox-container label {
          position: relative;
          font-size: 14px;
          color: #e0e0e0;
          cursor: pointer;
          margin-right: 4px;
          padding-bottom: 1px;
          display: inline-block;
      }


      input[type="checkbox"]:checked + label::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          background-color:  #e0e0e0;
      }

      /* Brief Table Styling */
.brief-table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  margin-top: 20px;
}

.brief-table tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.02);
}

.brief-table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.04);
}

.brief-table td {
  padding: 10px;
  border-bottom: 1px solid #000000de;
  color: #7F7F7F;
  font-size: 16px;
  text-align: left;
}

.brief-table td:first-child {
  width: 22%;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
}


.brief-table td {
  padding: 10px;
  border-bottom: 1px solid #000000de;
  color: #7F7F7F;
  font-size: 16px;
  text-align: left;
  vertical-align: top; /* Add this rule to align content at the top */
}

.brief-table td:last-child {
  width: 78%;
  color: #848484;
  vertical-align: top; /* Add this rule specifically for the data cells */
}


/* Ensure hovered rows change color */
.brief-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.brief-overview {
  font-size: 16px;
  color: #7F7F7F;
  text-align: center;
  margin-bottom: 15px;
}

.brief-overview span {
  margin: 0 10px;
}
.brief-overview {
  font-size: 16px;
  color: #7F7F7F;
  text-align: center;
  margin-bottom: 15px;
}

.brief-overview span {
  margin: 0 10px;
}


.brief-overview {
  font-size: 16px;
  color: #7F7F7F;
  text-align: center;
  margin-bottom: 5px; 
}

.brief-overview span {
  margin: 0 10px;
}

.brief-table {
  margin-top: 0; 
}
