@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

html, body {
  width: 100%;
  height: 100%;
  background-color: #0C0E10;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.778;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
}

/* Navbar */
.navbar {
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 32px 27px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 0px 32px 27px rgba(0,0,0,0.14);
  box-shadow: 0px 0px 32px 27px rgba(0,0,0,0.14);
}

.navbar .brand {
  color: #7F7F7F;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  pointer-events: none;
}

.navbar .nav-links {
  display: flex;
  gap: 10px;
}

.navbar .nav-links a {
  color: #7F7F7F;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
}

.navbar .nav-links a:hover {
  color: #686868;
  background-color: rgba(43, 43, 43, 0.2);
  border-radius: 4px;
}

/* Main content area */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px); /* Ensure it stretches to full height minus navbar height */
}

/* Section container */
.section-container {
  display: flex;
  width: 100%;
}

.image-container {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aurora-title {
  font-size: 32px;
  margin-bottom: 16px;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  height: 1em;
  padding-right: .5em;
  color: transparent;
  background: linear-gradient(90deg, #ff3700, #ffa033, #fff240, #c58000);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: -50px;
}

.aurora-title:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: #444;
  animation: text-reveal-aft 1000ms forwards;
}

p.gray-text {
  color: #686868;
}

.cta {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Neon Button */
.neon-button {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 15px 15px;
  overflow: hidden;
  color: #c0c0c0;
  background: linear-gradient(90deg, #8a1e00, #935105, #663003, #c53b00);
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: none;
}

.neon-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, #0c0e10, #f83600, #ff6617, #0c0e10);
  transition: 0.5s;
}

.neon-button span {
  position: absolute;
}

.neon-button span:nth-child(1) {
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #8a1e00, #935105, #663003, #c53b00);
}

.neon-button span:nth-child(2) {
  bottom: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(0deg, #8a1e00, #935105, #663003, #c53b00);
}

.neon-button span:nth-child(3) {
  top: 0;
  right: -100%;
  width: 100%;
  height: 1px;
  background: linear-gradient(-90deg, #8a1e00, #935105, #663003, #c53b00);
}

.neon-button span:nth-child(4) {
  top: -100%;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #8a1e00, #935105, #663003, #c53b00);
}

.neon-button:hover {
  color: #ffffff;
  background: none;
}

.neon-button:hover::before {
  display: none;
}

.neon-button:hover span:nth-child(1) {
  animation: leftLine .5s linear 0s;
}

.neon-button:hover span:nth-child(2) {
  animation: bottomLine .5s linear .25s;
}

.neon-button:hover span:nth-child(3) {
  animation: rightLine .5s linear 0s;
}

.neon-button:hover span:nth-child(4) {
  animation: topLine .5s linear .25s;
}

@keyframes topLine {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes bottomLine {
  0% {
    bottom: -100%;
  }
   100% {
    bottom: 100%;
  }
}

@keyframes rightLine {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

@keyframes leftLine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* Aurora effect */
.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0%;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}


.header-bg {
  background-color: rgba(46, 46, 46, 0.7);
  padding: 20px 0;
}

.header-bg .content {
  margin: 0 auto;
  max-width: 640px;
  padding: 5px;
  border-radius: 8px;
  margin: 0 10%;
}

/* Page transition animation */
.fade-out {
  animation: fadeOut 0.2s ease-in forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Lower z-index so it stays in the background */
  overflow: hidden;
}

.background-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 100px;
  position: relative;
  flex: 1; /* Ensure it stretches to fill the main-content */
}

.transparent-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  z-index: 0;
}

.fixed-width {
  width: 100% !important;
  max-width: 1200px;
  margin: auto;
  table-layout: fixed;
}

table {
  position: relative;
  z-index: 1;
  background: #0C0E10FA;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  width: 100%;
}

table.show {
  display: table;
}

.buttons-pdf, .dataTables_paginate .paginate_button {
  color: #c0c0c0 !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.buttons-pdf:hover, .dataTables_paginate .paginate_button:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.icon-links {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  top: 3px;
}

.icon-links img {
  width: 24px;
  height: auto;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(65%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(86%);
  transition: filter 0.3s;
}

.icon-email {
  width: 36px;
}

.icon-links img::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, #0c0e10, #f83600, #ff6617, #0c0e10);
  transition: 0.5s;
}

.icon-links img:hover::before {
  display: none;
}

.icon-links img:hover span:nth-child(1) {
  animation: leftLine .5s linear 0s;
}

.icon-links img:hover span:nth-child(2) {
  animation: bottomLine .5s linear .25s;
}

.icon-links img:hover span:nth-child(3) {
  animation: rightLine .5s linear 0s;
}

.icon-links img:hover span:nth-child(4) {
  animation: topLine .5s linear .25s;
}

.icon-links img:hover {
  filter: brightness(0) saturate(100%) invert(42%) sepia(90%) saturate(431%) hue-rotate(360deg) brightness(96%) contrast(106%);
}

#about .text-container {
  margin-top: 100px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.overlay-content {
  background-color: #0C0E10;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-height: 80%;
  overflow-y: auto;
  color: #e0e0e0;
}

.overlay-content h2 {
  margin-top: 0;
}

/* Add this style for the aurora title effect in the overlay */
.overlay-content .aurora-title {
  font-size: 32px;
  margin-bottom: 16px;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  height: 1em;
  padding-right: .5em;
  color: transparent;
  background: linear-gradient(90deg, #ff3700, #ffa033, #fff240, #c58000);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: -50px;
}

.overlay-content .aurora-title:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: #444;
  animation: text-reveal-aft 1000ms forwards;
}

.overlay-content .aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.overlay-content .aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.overlay-content .aurora__item:nth-of-type(1) { animation: aurora-border 6s ease-in-out infinite, aurora-1 12s ease-in-out infinite alternate; }
.overlay-content .aurora__item:nth-of-type(2) { background-color: var(--clr-3); right: 0; top: 0; animation: aurora-border 6s ease-in-out infinite, aurora-2 12s ease-in-out infinite alternate; }
.overlay-content .aurora__item:nth-of-type(3) { background-color: var(--clr-2); left: 0; bottom: 0; animation: aurora-border 6s ease-in-out infinite, aurora-3 8s ease-in-out infinite alternate; }
.overlay-content .aurora__item:nth-of-type(4) { background-color: var(--clr-4); right: 0; bottom: -50%; animation: aurora-border 6s ease-in-out infinite, aurora-4 24s ease-in-out infinite alternate; }

/* Style for the data fields in the overlay */
.overlay-content p strong {
    color: #ffffff; /* white for the label */
}

.overlay-content p {
    color: #ffa500; /* orange for the data */
    margin: 10px 0;
}

/* Distinct styles for odd/even lines in the table */
table.dataTable tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.02);
}

table.dataTable tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.04);
}

table.dataTable tbody td {
  padding: 8px 10px;
  border-bottom: 1px solid #000000de;
  color: #7F7F7F; /* Set text color */
}

table.dataTable tbody tr:last-child td {
  border-bottom: none;
}

.brief-icon {
  position: relative;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.03);
  cursor: pointer;
  z-index: 1001; /* Ensures it appears above the table */
  color: #ffffff; 
  font-weight: bold;
  font-size: 24px; 
}

.brief-icon:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #ff9500;
}
/* General override to ensure no default background color changes */
table.dataTable thead th.sorting,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc,
table.dataTable thead th.sorting_asc_disabled,
table.dataTable thead th.sorting_desc_disabled {
    background-color: transparent !important;
}

/* Ensure sorted column in tbody does not change color */
table.dataTable tbody td.sorting_1,
table.dataTable tbody td.sorting_2,
table.dataTable tbody td.sorting_3 {
    background-color: transparent !important;
}

/* Ensure table rows are highlighted visibly when hovered over */
table.dataTable tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the opacity and color to make it more visible */
    color: #ffffff; /* Ensure the text color remains readable */
}

/* Further tweaking the colors for better visibility */
table.dataTable tbody tr:nth-child(odd):hover {
  background-color: #1E1F2E
}

table.dataTable tbody tr:nth-child(even):hover {
  background-color: #1E1F2E
}

table.dataTable tbody tr td,
table.dataTable tbody tr th {
    background-color: transparent !important;
}

/* styles for the Brief overlay section */
.overlay-content .brief-title {
  font-size: 20px;
  margin-bottom: 16px;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  height: 1em;
  padding-right: .5em;
  color: transparent;
  background: linear-gradient(90deg, #ffffff, hsl(0, 0%, 100%)); /* might change to actual gradient later */
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  text-align: center; /* Center align the text */
  white-space: nowrap; /* Prevent text from wrapping */
}

.overlay-content .brief-title:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: #444;
  animation: text-reveal-aft 1000ms forwards;
}

.overlay-content .brief-aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.overlay-content .brief-aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.overlay-content .brief-aurora__item:nth-of-type(1) { animation: aurora-border 6s ease-in-out infinite, aurora-1 12s ease-in-out infinite alternate; }
.overlay-content .brief-aurora__item:nth-of-type(2) { background-color: var(--clr-3); right: 0; top: 0; animation: aurora-border 6s ease-in-out infinite, aurora-2 12s ease-in-out infinite alternate; }
.overlay-content .brief-aurora__item:nth-of-type(3) { background-color: var(--clr-2); left: 0; bottom: 0; animation: aurora-border 6s ease-in-out infinite, aurora-3 8s ease-in-out infinite alternate; }
.overlay-content .brief-aurora__item:nth-of-type(4) { background-color: var(--clr-4); right: 0; bottom: -50%; animation: aurora-border 6s ease-in-out infinite, aurora-4 24s ease-in-out infinite alternate; }

/* Style for the data fields in the overlay */
.overlay-content p strong {
    color:#c8c2c2; /* white for the label */
}

.overlay-content p {
    color: #8888889e; /* orange for the data */
    margin: 10px 0;
}
